#vscode
/.vscode

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Django #
file_manager/__pycache__/
data_manager/__pycache__/
byu.sqlite3
*.log
*.pot
*.pyc
*.env
backup/

#Jupiter_workflow
Jupiter_workflow/



# Python # 
*.py[cod] 
*$py.class 


# C extensions
*.so


#temp files
temp/

# Files that might appear on external disk
.Spotlight-V100
.Trashes


# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.pickle
*.raw
*.7z


# temp files
web/file_manager/__pycache__
web/media/primary_storage/
web/media/secondary_storage/
web/media/remote_storage/
web/media/offline_storage/
web/media/temp
web/file_manager/cache/

django_secrets.txt
web/data_manager/env
web/file_manager/cache/dash_cache.pickle
