#vscode
/.vscode

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Django #
file_manager/__pycache__/
data_manager/__pycache__/
byu.sqlite3
*.log
*.pot
*.pyc
*.env
backup/

#Jupiter_workflow
Jupiter_workflow/



# Python # 
*.py[cod] 
*$py.class 


# C extensions
*.so


#temp files
temp/

# Files that might appear on external disk
.Spotlight-V100
.Trashes


# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


# temp files
web/data_conversion_v0_to_v1/
web/file_manager/__pycache__
web/temp_2022-10-18/