{% extends 'base.html' %}
{% load static %}

{% block title %}Help{% endblock %}

{% block extra_css %}
  <!-- favicon -->
  <link rel="icon" href="{% static 'assets/img/main.png' %}" sizes="400x400" type="image/png">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-fluid py-5">
  <h2 class="text-center mb-4">Help</h2>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="/signup/">Sign up for a new account</a></li>
    <li class="list-group-item"><a href="/admin/">Admin</a></li>
    <li class="list-group-item"><a href="/files/logs/">Django Logs</a></li>
    <li class="list-group-item"><a href="https://github.com/RTKlab-BYU/Raw_File_Uploader/releases">Download Latest Uploader</a></li>
    <li class="list-group-item"><a href="https://github.com/RTKlab-BYU/Proteomic-Data-Manager/wiki">Wikis</a></li>
    <li class="list-group-item"><a href="https://community.proteomicsdata.com/">User Community</a></li>
  </ul>
</div>
{% endblock %}

{% block extra_js %}{% endblock %}