{% load static %}<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport"/>
  <title>
   View Protein Discoverer Process
  </title>
  <meta content="" name="description"/>
  <link href="{% static '/assets/img/main.png' %}" rel="icon" sizes="400x400" type="image/png"/>
  <link href="{% static '/assets/img/main.png' %}" rel="icon" sizes="400x400" type="image/png"/>
  <link href="{% static '/assets/img/main.png' %}" rel="icon" sizes="400x400" type="image/png"/>
  <link href="{% static '/assets/img/main.png' %}" rel="icon" sizes="400x400" type="image/png"/>
  <link href="{% static '/assets/img/main.png' %}" rel="icon" sizes="400x400" type="image/png"/>
  <link href="{% static '/assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet"/>
  <link href="{% static '/assets/css/styles.min.css' %}" rel="stylesheet"/>
  <link href="{% static '/assets/css/SO-floating-nav_15.min.css' %}" rel="stylesheet"/>
 </head>
 <body id="page-top">
  <div id="wrapper">
   <div dont-float="true" id="nt-compact">
    <ul>
     <li>
      <label style="color: rgb(255,255,255);">
       {{ user.username }}
      </label>
     </li>
     <li>
      <a href="/files/" title="Dashboard">
       <i class="fa fa-th-large">
       </i>
       <div class="nt-tooltip">
        <p style="font-family:'Ubuntu Condensed', sans-serif;">
         Dashboard
        </p>
       </div>
      </a>
     </li>
     <li>
     </li>
     <li>
      <a href="/files/visualization/" title="Visualization">
       <i class="fa fa-vimeo">
       </i>
       <div class="nt-tooltip">
        <p style="font-family:'Ubuntu Condensed', sans-serif;">
         Visualization
        </p>
       </div>
      </a>
     </li>
     <li>
      <a href="/files/processing/" title="Processing Center">
       <i class="fa fa-product-hunt">
       </i>
       <div class="nt-tooltip">
        <p style="font-family:'Ubuntu Condensed', sans-serif;">
         Processing
        </p>
       </div>
      </a>
     </li>
     <li>
      <a href="/files/records/" title="Records">
       <svg class="bi bi-caret-right-fill" fill="currentColor" height="1em" viewbox="0 0 16 16" width="1em" xmlns="http://www.w3.org/2000/svg">
        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
        </path>
       </svg>
       <div class="nt-tooltip">
        <p style="font-family:'Ubuntu Condensed', sans-serif;">
         Records
        </p>
       </div>
      </a>
     </li>
     <li>
      <a href="/files/settings/" title="settings">
       <i class="fa fa-cogs">
       </i>
       <div class="nt-tooltip">
        <p style="font-family:'Ubuntu Condensed', sans-serif;">
         Settings
        </p>
       </div>
      </a>
      <a href="/" onmouseover="javascript:event.target.port=8080" title="Advance">
       <i class="icon ion-android-warning">
       </i>
       <div class="nt-tooltip">
        <p style="font-family: 'Ubuntu Condensed', sans-serif;">
         Advance
        </p>
       </div>
      </a>
     </li>
     <li>
      <a href="{% url 'logout' %}" title="logout">
       <i class="fa fa-sign-out">
       </i>
       <div class="nt-tooltip">
        <p style="font-family:'Ubuntu Condensed', sans-serif;">
         Logout
        </p>
       </div>
      </a>
     </li>
     <li>
      <a href="/files/help/" title="Help">
       <svg class="bi bi-question" fill="currentColor" height="1em" viewbox="0 0 16 16" width="1em" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z">
        </path>
       </svg>
       <div class="nt-tooltip">
        <p style="font-family:'Ubuntu Condensed', sans-serif;">
         Help
        </p>
       </div>
      </a>
     </li>
    </ul>
   </div>
   <div class="d-flex flex-column" id="content-wrapper">
    <div id="main">
     <div class="container-fluid">
      <div>
       <div class="row">
        <div class="col">
         <form enctype="multipart/form-data" method="post">
          <div style="visibility: hidden; display:inline;">
           <p>
            {% csrf_token %}
           </p>
          </div>
          <div class="form-row">
           <div class="col">
            <p class="text-dark" style="font-size: 20px;text-align: center;">
             <strong>
              Protein Discoverer Process
             </strong>
             <br/>
            </p>
           </div>
          </div>
          <div class="table-responsive tbl-wfx mt-1 kot-table">
           <table class="table table-sm">
            <thead class="text-dark font-md">
             <tr class="text-dark-blue">
              <th class="text-center w-10x" style="width: 5%;">
               <br/>
              </th>
              <th class="text-center w-10x" style="width: 5%;">
               <strong>
                #
               </strong>
              </th>
              <th class="text-center" style="width: 25%;">
               <strong>
                Run name
               </strong>
              </th>
              <th class="text-center" style="width: 1%;">
               <br/>
              </th>
             </tr>
            </thead>
            <tbody>
            </tbody>
           </table>
          </div>
          <div class="form-row">
           <div class="col">
            <label>
             <strong>
              Analysis Name
             </strong>
            </label>
            <textarea class="form-control" name="analysis_name"></textarea>
           </div>
           <div class="col">
            <label>
             <strong>
              Upload the result file
             </strong>
             <br/>
            </label>
            <select class="form-control" name="keep_result">
             <option value="True">
              Yes
             </option>
             <option selected="" value="False">
              No
             </option>
            </select>
           </div>
           <div class="col">
            <div class="form-row">
             <select class="form-control" id="rawfile_selector" name="record_selector">
              {% for item in SampleRecord %}
              <div>
               <option value="{{item.pk}}">
                {{item.pk}}_{{item.record_name}}
               </option>
              </div>
              {% endfor %}
             </select>
            </div>
            <button class="btn btn-primary delete-row" type="button">
             Delete
            </button>
            <button class="btn btn-primary add_more" type="button">
             Add
            </button>
           </div>
          </div>
          <div class="form-row">
           <div class="col">
            <p>
             Select Consensus method:
            </p>
            <select class="form-control" id="pd_consensus_option" name="pd_consensus_option">
             {% for item in ConsensusMethod %}
             <div>
              <option value="{{item}}">
               {{item}}
              </option>
             </div>
             {% endfor %}
             <option value="custom">
              custom_upload below
             </option>
            </select>
            <input accept=".pdConsensusWF" class="form-control-file" name="pd_consensus" type="file"/>
           </div>
           <div class="col">
            <p>
             Select Processing method:
            </p>
            <select class="form-control" id="pd_process_option" name="pd_process_option">
             {% for item in ProcessMethod %}
             <div>
              <option value="{{item}}">
               {{item}}
              </option>
             </div>
             {% endfor %}
             <option value="custom">
              custom_upload below
             </option>
            </select>
            <input accept=".pdProcessingWF" class="form-control-file" name="pd_process" type="file"/>
           </div>
          </div>
          <div class="form-row">
           <div class="col">
            <label>
             <strong>
              Replace QC
             </strong>
             <br/>
            </label>
            <select class="form-control" name="replace_qc">
             <option value="True">
              Yes
             </option>
             <option selected="" value="False">
              No
             </option>
            </select>
           </div>
           <div class="col">
            <label>
             <strong>
              keep the uploaded method
             </strong>
             <br/>
            </label>
            <select class="form-control" name="keep_method">
             <option value="True">
              Yes
             </option>
             <option selected="" value="False">
              No
             </option>
            </select>
           </div>
           <div class="col">
            <button class="btn btn-primary" type="submit">
             Submit
            </button>
           </div>
          </div>
          <div class="form-row">
           <div class="col">
            <a href="{{download_processor}}">
             Download the processor
            </a>
           </div>
          </div>
         </form>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="col">
     <i class="fa fa-download">
     </i>
    </div>
   </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js">
  </script>
  <script src="{% static '/assets/js/script.min.js' %}">
  </script>
  <script src="{% static '/assets/js/pd.min.js' %}">
  </script>
  <script src="{% static '/assets/js/SO-floating-nav_15.min.js' %}">
  </script>
 </body>
</html>