{% load static %}<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport"/>
  <title>
   View Maxquant Process
  </title>
  <meta content="This page provides access to view results and manage data" name="description"/>
  <link href="{% static '/assets/img/main.png' %}" rel="icon" sizes="400x400" type="image/png"/>
  <link href="{% static '/assets/img/main.png' %}" rel="icon" sizes="400x400" type="image/png"/>
  <link href="{% static '/assets/img/main.png' %}" rel="icon" sizes="400x400" type="image/png"/>
  <link href="{% static '/assets/img/main.png' %}" rel="icon" sizes="400x400" type="image/png"/>
  <link href="{% static '/assets/img/main.png' %}" rel="icon" sizes="400x400" type="image/png"/>
  <link href="{% static '/assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="{% static '/assets/css/styles.min.css' %}" rel="stylesheet"/>
  <link href="{% static '/assets/css/SO-floating-nav_15.min.css' %}" rel="stylesheet"/>
 </head>
 <body id="page-top">
  <div id="wrapper">
   <div dont-float="true" id="nt-compact">
    <ul>
     <li>
      <label style="color: rgb(255,255,255);">
       {{ user.username }}
      </label>
     </li>
     <li>
      <a href="/files/" title="Dashboard">
       <i class="fa fa-th-large">
       </i>
       <div class="nt-tooltip">
        <p style="font-family:'Ubuntu Condensed', sans-serif;">
         Dashboard
        </p>
       </div>
      </a>
     </li>
     <li>
      <a href="/files/uploadraw/" title="Upload">
       <svg class="bi bi-hammer" fill="currentColor" height="1em" viewbox="0 0 16 16" width="1em" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.972 2.508a.5.5 0 0 0-.16-.556l-.178-.129a5.009 5.009 0 0 0-2.076-.783C6.215.862 4.504 1.229 2.84 3.133H1.786a.5.5 0 0 0-.354.147L.146 4.567a.5.5 0 0 0 0 .706l2.571 2.579a.5.5 0 0 0 .708 0l1.286-1.29a.5.5 0 0 0 .146-.353V5.57l8.387 8.873A.5.5 0 0 0 14 14.5l1.5-1.5a.5.5 0 0 0 .017-.689l-9.129-8.63c.747-.456 1.772-.839 3.112-.839a.5.5 0 0 0 .472-.334z">
        </path>
       </svg>
       <div class="nt-tooltip">
        <p style="font-family:'Ubuntu Condensed', sans-serif;">
         Upload
        </p>
       </div>
      </a>
     </li>
     <li>
      <a href="/files/maxquant/" title="Process">
       <i class="fa fa-hand-rock-o">
       </i>
       <div class="nt-tooltip">
        <p style="font-family:'Ubuntu Condensed', sans-serif;">
         Maxquant
        </p>
       </div>
      </a>
     </li>
     <li>
      <a href="/files/msfragger/" title="Msfragger">
       <i class="fa fa-creative-commons">
       </i>
       <div class="nt-tooltip">
        <p style="font-family:'Ubuntu Condensed', sans-serif;">
         Msfragger
        </p>
       </div>
      </a>
     </li>
     <li>
      <a href="/files/pd/" title="Protein Discoverer">
       <i class="fa fa-product-hunt">
       </i>
       <div class="nt-tooltip">
        <p style="font-family:'Ubuntu Condensed', sans-serif;">
         PD
        </p>
       </div>
      </a>
     </li>
     <li>
      <a href="/files/results/" title="Results">
       <svg class="bi bi-caret-right-fill" fill="currentColor" height="1em" viewbox="0 0 16 16" width="1em" xmlns="http://www.w3.org/2000/svg">
        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z">
        </path>
       </svg>
       <div class="nt-tooltip">
        <p style="font-family:'Ubuntu Condensed', sans-serif;">
         Results
        </p>
       </div>
      </a>
     </li>
     <li>
      <a href="/files/settings/" title="settings">
       <i class="fa fa-cogs">
       </i>
       <div class="nt-tooltip">
        <p style="font-family:'Ubuntu Condensed', sans-serif;">
         Settings
        </p>
       </div>
      </a>
     </li>
     <li>
      <a href="{% url 'logout' %}" title="logout">
       <i class="fa fa-sign-out">
       </i>
       <div class="nt-tooltip">
        <p style="font-family:'Ubuntu Condensed', sans-serif;">
         Logout
        </p>
       </div>
      </a>
     </li>
     <li>
      <a href="/files/help/" title="Help">
       <svg class="bi bi-question" fill="currentColor" height="1em" viewbox="0 0 16 16" width="1em" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z">
        </path>
       </svg>
       <div class="nt-tooltip">
        <p style="font-family:'Ubuntu Condensed', sans-serif;">
         Support
        </p>
       </div>
      </a>
     </li>
    </ul>
   </div>
   <div class="d-flex flex-column" id="content-wrapper">
    <div id="main">
     <div class="container-fluid">
      <div>
       <div class="row">
        <div class="col">
         <form enctype="multipart/form-data" method="post">
          <div style="visibility: hidden; display:inline;">
           <p>
            {% csrf_token %}
           </p>
          </div>
          <div class="form-row">
           <div class="col">
            <p class="text-dark" style="font-size: 20px;text-align: center;">
             <strong>
              Maxquant Process
             </strong>
             <br/>
            </p>
           </div>
          </div>
          <div class="table-responsive tbl-wfx mt-1 kot-table">
           <table class="table table-sm">
            <thead class="text-dark font-md">
             <tr class="text-dark-blue">
              <th class="text-center w-10x" style="width: 5%;">
               <br/>
              </th>
              <th class="text-center w-10x" style="width: 5%;">
               <strong>
                #
               </strong>
              </th>
              <th class="text-center" style="width: 25%;">
               <strong>
                Run name
               </strong>
              </th>
              <th class="text-center" style="width: 1%;">
               <br/>
              </th>
              <th class="text-center w-10x" style="width: 5%;">
               <strong>
                Fraction (32767 means none)
               </strong>
              </th>
              <th class="text-center w-10x" style="width: 5%;">
               <strong>
                Parameter Group
               </strong>
              </th>
              <th class="text-center w-10x" style="width: 5%;">
               <strong>
                PTM
               </strong>
              </th>
              <th class="text-center w-10x" style="width: 5%;">
               <strong>
                Reference channel
               </strong>
              </th>
             </tr>
            </thead>
            <tbody>
            </tbody>
           </table>
          </div>
          <div class="form-row">
           <div class="col">
            <label>
             <strong>
              Analysis Name
             </strong>
            </label>
            <textarea class="form-control" name="analysis_name"></textarea>
           </div>
           <div class="col">
            <div class="form-row">
             <div class="col">
              <label>
               Maxquant Version
              </label>
              <select class="form-control" name="maxquant_version">
               <option selected="" value="2030">
                2.0.3.0
               </option>
              </select>
             </div>
            </div>
            <div class="form-row">
             <div class="col">
              <label>
               Fasta files
              </label>
              <select class="form-control" name="fasta_file">
               <option selected="" value="uniprot-reviewed_yes+taxonomy_9606_07052020">
                uniprot-reviewed_yes+taxonomy_9606_07052020
               </option>
               <option value="uniprot-reviewed_yes+taxonomy_10090_09112020">
                uniprot-reviewed_yes+taxonomy_10090_09112020
               </option>
              </select>
             </div>
            </div>
           </div>
           <div class="col">
            <p>
             Select Maxquant settings:
            </p>
            <div>
             <input checked="" name="maxquant_settings" type="radio" value="mbr"/>
             <label for="huey">
              MBR standard setting
             </label>
            </div>
            <div>
             <input name="maxquant_settings" type="radio" value="nonmbr"/>
             <label for="dewey">
              Non-MBR standard setting
             </label>
            </div>
            <div>
             <input name="maxquant_settings" type="radio" value="custom"/>
             <label for="louie">
              Upload your own xml setting
             </label>
            </div>
            <input class="form-control-file" name="maxquant_xml" type="file"/>
           </div>
           <div class="col">
            <div class="form-row">
             <select class="form-control" id="rawfile_selector" name="rawFile_selector">
              {% for item in RawFiles %}
              <div>
               <option value="{{item.pk}}">
                {{item.pk}}_{{item.run_name}}
               </option>
              </div>
              {% endfor %}
             </select>
            </div>
            <button class="btn btn-primary add_more" type="button">
             Add
            </button>
            <button class="btn btn-primary delete-row" type="button">
             Delete
            </button>
            <button class="btn btn-primary" type="submit">
             Submit
            </button>
           </div>
          </div>
         </form>
        </div>
       </div>
       <div class="row">
        <div class="col">
         <p class="text-dark" style="font-size: 20px;text-align: center;">
          <strong>
           Current Workers Status
          </strong>
          <br/>
         </p>
        </div>
        <div class="table-responsive text-light">
         <table class="table table-sm" id="test_results_table">
          <thead>
           <tr>
            <th>
             Worker Number
            </th>
            <th>
             Worker Name
            </th>
            <th>
             Worker Ip
            </th>
            <th>
             Current task PK
            </th>
            <th>
             Last Update
            </th>
           </tr>
          </thead>
          <tbody>
           {% for item in MaxquantWorker %}
           <tr>
            <td>
             {{ item.pk}}
            </td>
            <td>
             {{ item.worker_name}}
            </td>
            <td>
             {{ item.worker_ip }}
            </td>
            <td>
             {{ item.current_job.pk}}
            </td>
            <td>
             {{ item.last_update}}
            </td>
           </tr>
           {% endfor %}
          </tbody>
         </table>
        </div>
       </div>
       <div class="row">
        <div class="col">
         <p class="text-dark" style="font-size: 20px;text-align: center;">
          <strong>
           Current Queue
          </strong>
          <br/>
         </p>
        </div>
        <div class="table-responsive text-light">
         <table class="table table-sm" id="test_results_table">
          <thead>
           <tr>
            <th>
             Maxquantqueue Pk
            </th>
            <th>
             Raw files pk
            </th>
            <th>
             Analysis names
            </th>
            <th>
             Run finished?
            </th>
            <th>
             Total Protein ID
            </th>
            <th>
             Total Peptide ID
            </th>
            <th>
             Setting_xml
            </th>
            <th>
             Evidence file
            </th>
            <th>
             Protein file
            </th>
            <th>
             Peptide file
            </th>
            <th>
             other files
            </th>
            <th>
             User
            </th>
            <th>
             Process started
            </th>
            <th>
             Process finshed
            </th>
           </tr>
          </thead>
          <tbody>
           {% for item in MaxquantQueue %}
           <tr>
            <!--                 <td>  <input name="task_record" type="checkbox" id = {{item.pk}} class="table_check_box"></td> -->
            <td>
             <a href="load/{{item.pk}}" target="_blank">
              {{ item.pk|default_if_none:"" }}
             </a>
            </td>
            <td>
             {% for unit in item.rawfile.all %}
                    {{ unit.pk}}  
                        {% endfor %}
            </td>
            <td>
             {{ item.analysis_name}}
            </td>
            <td>
             {{ item.run_status}}
            </td>
            <td>
             {{ item.protein_id}}
            </td>
            <td>
             {{ item.peptide_id}}
            </td>
            <td>
             {% if item.setting_xml %}
             <a href="/files/{{item.setting_xml|default_if_none:1}}">
              setting_xml
             </a>
             {% endif %}
            </td>
            <td>
             {% if item.evidence_file %}
             <a href="/files/{{item.evidence_file|default_if_none:1}}">
              evidence_file
             </a>
             {% endif %}
            </td>
            <td>
             {% if item.protein_file %}
             <a href="/files/{{item.protein_file|default_if_none:1}}">
              protein_file
             </a>
             {% endif %}
            </td>
            <td>
             {% if item.peptide_file %}
             <a href="/files/{{item.peptide_file|default_if_none:1}}">
              peptide_file
             </a>
             {% endif %}
            </td>
            <td>
             {% if item.other_file %}
             <a href="/files/{{item.other_file|default_if_none:1}}">
              other_file
             </a>
             {% endif %}
            </td>
            <td>
             {{ item.creator|default_if_none:"" }}
            </td>
            <td>
             {{ item.start_time|default_if_none:"" }}
            </td>
            <td>
             {{ item.finished_time|default_if_none:"" }}
            </td>
           </tr>
           {% endfor %}
          </tbody>
         </table>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js">
  </script>
  <script src="{% static '/assets/js/script.min.js' %}">
  </script>
  <script src="{% static '/assets/js/maxquant.min.js' %}">
  </script>
  <script src="{% static '/assets/js/SO-floating-nav_15.min.js' %}">
  </script>
 </body>
</html>