{% load static %}<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport"/>
  <title>
   Contact US
  </title>
  <link href="{% static '/assets/img/main.png' %}" rel="icon" sizes="400x400" type="image/png"/>
  <link href="{% static '/assets/img/main.png' %}" rel="icon" sizes="400x400" type="image/png"/>
  <link href="{% static '/assets/img/main.png' %}" rel="icon" sizes="400x400" type="image/png"/>
  <link href="{% static '/assets/img/main.png' %}" rel="icon" sizes="400x400" type="image/png"/>
  <link href="{% static '/assets/img/main.png' %}" rel="icon" sizes="400x400" type="image/png"/>
  <link href="{% static '/assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="{% static '/assets/css/styles.min.css' %}" rel="stylesheet"/>
  <link href="{% static '/assets/css/SO-floating-nav_15.min.css' %}" rel="stylesheet"/>
 </head>
 <body>
  <section class="contact-clean">
   <form data-bss-recipient="08480c779b8d73b09192cd13ad587f8a">
    <h2 class="text-center">
     Contact us
    </h2>
    <div class="form-group">
     <input class="form-control" name="name" placeholder="Name" type="text"/>
    </div>
    <div class="form-group">
     <input class="form-control is-invalid" name="email" placeholder="Email" type="email"/>
    </div>
    <div class="form-group">
     <select class="form-control">
      <option selected="" value="12">
       Bug Reporting
      </option>
      <option value="13">
       Feature Request
      </option>
      <option value="14">
       Others
      </option>
     </select>
    </div>
    <div class="form-group">
     <textarea class="form-control" name="message" placeholder="Message" rows="14"></textarea>
    </div>
    <div class="form-group">
     <button class="btn btn-primary" type="submit">
      send
     </button>
    </div>
   </form>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js">
  </script>
  <script src="{% static '/assets/js/smart-forms.min.js' %}">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js">
  </script>
  <script src="{% static '/assets/js/script.min.js' %}">
  </script>
  <script src="{% static '/assets/js/SO-floating-nav_15.min.js' %}">
  </script>
 </body>
</html>