{% load static %}<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport"/>
  <title>
   Login
  </title>
  <link href="{% static '/assets/img/main.png' %}" rel="icon" sizes="400x400" type="image/png"/>
  <link href="{% static '/assets/img/main.png' %}" rel="icon" sizes="400x400" type="image/png"/>
  <link href="{% static '/assets/img/main.png' %}" rel="icon" sizes="400x400" type="image/png"/>
  <link href="{% static '/assets/img/main.png' %}" rel="icon" sizes="400x400" type="image/png"/>
  <link href="{% static '/assets/img/main.png' %}" rel="icon" sizes="400x400" type="image/png"/>
  <link href="{% static '/assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet"/>
  <link href="{% static '/assets/css/styles.min.css' %}" rel="stylesheet"/>
 </head>
 <body class="bg-gradient-primary" style="background: rgb(78, 115, 223);">
  <div class="container">
   <div class="row justify-content-center" style="width: 120%;">
    <div class="col-md-9 col-lg-12 col-xl-10">
     <div class="card shadow-lg o-hidden border-0 my-5">
      <div class="card-body p-0">
       <div class="row">
        <div class="col-lg-6">
         <img src="{% static '/assets/img/bigdata.jpg' %}" style="width: 100%;"/>
        </div>
        <div class="col">
         <div class="p-5">
          <div class="text-center">
           <h4 class="text-dark mb-4" style="color: rgb(9,10,10);">
            Welcome Proteomics Data Manager!
           </h4>
          </div>
          <form class="user" method="post">
           <div class="form-group">
            <div style="visibility: hidden; display:inline;">
             <p>
              {% csrf_token %}
             </p>
            </div>
            <input aria-describedby="" class="form-control form-control-user" id="exampleInputEmail" name="username" placeholder="Enter User Name ..." type="text"/>
           </div>
           <div class="form-group">
            <input class="form-control form-control-user" id="exampleInputPassword" name="password" placeholder="Password" type="password"/>
           </div>
           <div class="form-group">
            <div class="custom-control custom-checkbox small">
             <div class="form-check">
              <input class="form-check-input custom-control-input" id="formCheck-1" type="checkbox"/>
              <label class="form-check-label custom-control-label" for="formCheck-1">
               Remember Me
              </label>
             </div>
            </div>
           </div>
           <button class="btn btn-primary btn-block text-white btn-user" type="submit">
            Login
           </button>
           <hr/>
           <hr/>
          </form>
          <div class="text-center">
           <a class="small" href="forgot-password.html" style="visibility: hidden; display:inline;">
            Forgot Password?
           </a>
          </div>
          <div class="text-center">
           <a class="small" href="/signup/">
            Create an Account
           </a>
           <a class="small" href="/accounts/password_reset/">
            Reset Password
           </a>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="row" style="text-align: center;">
   <div class="col">
    <footer class="bg-white sticky-footer">
     <div class="container my-auto">
      <div class="text-center my-auto copyright">
       <span>
        Copyright © 2022 PDM
        <a href="/contact/">
         Contact us
        </a>
       </span>
      </div>
     </div>
    </footer>
   </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js">
  </script>
  <script src="{% static '/assets/js/script.min.js' %}">
  </script>
 </body>
</html>